<!DOCTYPE html>
<html lang = "es">

<head>
<meta charset = "UTF-8">
<meta name = "Karen Rivera" content="Intro HTML">
<title> TAREA HTML </title>
<link rel = "" href = "./">

</head>
<body>
<h1> <em>NEBULOSA DE LA HÉLICE</em></h1>
<P>  </P>
<img src = "../assets/img/Hélix.jpg" height="400" alt="800">, <img src = "../assets/img/ex.jpg" height="400" alt="800">
<p>La nebulosa de la Hélice, o también conocida como NGC 7293 es una nebulosa que se encuenta a unos 680 años luz de distancia. Esta es una enana blanca  que basada en su ritnmo de expansión tendrá aproximadamente 10600 años. </p> 
<p>Entre las nebulosas planetarias tenemos algunas como: </p>
<ul>
    <li> Nebulosa Dumbell </li>
    <li>Nebulosa del anillo</li>
    <li>Nebulosa de la hormiga</li>
    <li>Nebulosa Esquimal</li>
    <li style = "color: black"><a href = "https://youtube.com/shorts/Ovv4wZiRdFE?si=WXgi3-S-3GM8Sv8X"  target="_blank">Hélice</a></li>  
    <li style = "color:black"><a href = "./Pac-man.html"  target="_blank">Pac-Man</a>The New Adventures, Pac-Man World</li>
    <li style = "color:black"><a href = "./mi-horario.html"  target="_blank">Horario</a></li>
</ul>
</body>
</head>
</html>