<!DOCTYPE html>
<html lang = "es">

<head>
  <meta charset = "UTF-8">
  <meta name = "Karen Rivera" content="Intro HTML">
<title> TAAREA HTML </title>
  <link rel = "icon" href = "../">
<a h ref = "./views"><img src="../assets/img/R.jfif" width="100px" height="50px"></a>

<style>
    body {
      background-image: url('https://th.bing.com/th/id/R.ef189be0cb2a69213b4f1a23d0b9abb9?rik=kw94gOY0Fb8Faw&riu=http%3a%2f%2fimg1.wikia.nocookie.net%2f__cb20100913232841%2fpacman%2fimages%2f4%2f47%2fPac-man-ghosts.jpg&ehk=rLSdCTTCdUjjjVQQGiqJvnIwGuFvF%2bfe%2brdemwLFzM0%3d&risl=&pid=ImgRaw&r=0');
    }
    </style>

</head>
<body>
<h1 style = "color: cyan"> <em>PAC-MAN</em></h1>
<h2 style = "color: cyan"><em>Una leyenda que aún vive</em></h2>
<P>  </P>
<table border="10">
  <caption style="color:cyan;"> Los mejores juegos </caption>
    <tr> 
      <td><p style="color:black"><em>Tipo de juego</em></p></td>
      <td><p style="color:black;"> lanzamiento</p></td>
    </tr>
    <tr> 
      <td><p style="color:rgba(255, 255, 255, 0);"><em>1980</em></p></td>
      <td><p style="color:rgba(255, 255, 255, 0);"> hoy </p></td>
    </tr>



</table>

<table>
  <caption style="color:cyan"> HOARRIO SEMANAL</caption>
  <tr>
    <td><p style="color:cyan;">Hora</p></td>
    <td><p style="color:cyan;">Lunes</p></td>
    <td><p style="color:cyan;">Martes</p></td>
  </tr>
  <tr>
    <td><a>7:00 a.m</a></td>
    <td><a>8:00 a.m</a></td>
  </tr>
</table>
<tr>><td>3</td></tr>
<p style = "color : white;">Pac-man es un videojuego arcade creado por el diseñador de Toru Iwatani de la empresa Namco. Se lanzó al mercado estadounidense a principios de los años 1980 </p>
<p style = "color:white"> EXISTEN VARIOS TIPOS DE PATMAN LOS CUALES SON:  </p>
<ul> 
    <li style = "color:white"> Jr.Pac-Man</li>
    <li style = "color:white"><a href = "./helice.html"  target="_blank">Hélice</a></li>
    <li style = "color:white"><a href = "./mi-horario.html"  target="_blank">Horario</a></li>
    <p><a href="./helice.html"></a></p>
    <li style = "color:white">Sir Coins a Lot</li>
    <li style = "color:white">Snow Man</li>
</ul>
</body>
</head>
</html>