<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Karen Rivera" content="Intro HTML"  >
    <title>Quiz</title>
    <link rel = "" href = "../assets/img/bx-task.svg">
</head>
<body>
    <table border="2">
       <table border="3">
        <caption style="color: black;">L</caption>
          <tr> 
            <td><p style="color: black;"></p>L</td>
            <td><p style="color: black;"></p>Nombre</td>
            <td><p style="color:black;"></p>Apellido</td>
            <td><p style="color:black;"></p>Cosa</td>
            <td><p style="color:black;"></p>Color </td>
            <td><p style="color: black;"></p>Lugar</td>
            <td><p style="color: black;"></p><em><u>Atributo HTML</u></em></td>
            <td><p style="color: black;"></p>Total</td>
            
          </tr> 
          <tr> 
            <tr>
                <td><p style="color:black;"></p> V <br> D <br> U <br> X <br> R</td>
            <td><p style="color:black;"></p>Veronica <br> Dilan <br> Ubaldo <br>Ximena <br> Ronald</td>
            <td><p style="color:black;"> </p>Velez <br> Del Rio <br> Ureña <br> Ximenéz <br> Rivera </td>
            <td><p></p> <img>  <br> Destornillador <br> Uniforme <br> Xenón <br> Ratón </td>
            <td><p style = "background-color: rgb(39, 93, 0);", style = "background-color: rgb(39, 93, 0);",  style = "background-color: rgb(176, 5, 5);" > Xanadú <br> Rojo </p></td>
            <td><p style="color:black;"> </p>Detroit <br> Ubaí <br> Xeraco <br> Rabat</td>
            <td><p style="color:black;"> </p> Del <br> u <br> xml<br> ri:a</td>
            <td><p style="color:black;"> </p><u></u>0 <br> 0 <br> 0 <br> 0 <br> 0 </td>
        </tr>
        </table> 
</body>
</html>