<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario</h1>
    <form name = "datos básicos" action="./helice.html" method="">
        <h1><img src="../assets/img/" width="100px">Datos básicos</h1>
        
        <label for = "perfil"> Describa su perfil</label>
        <input id="perfil" type="text" name="perfil"> <br>
        <label for="Tipo 1"> Tipo de identificación:</label>
        <select id="Tipo 1" name = "Tipo 1">
           <option value = "0" selected = ""> Seleccione su tipo de documento</option>
           <option value = "NUIP" selected = ""> Seleccione su único número de identificación</option>  
        </select> <br>
        <label for="Num de id"> Número de identificación</label>
        <input id = "Num de id" >  <br> 
        <label for="Apellidos"> Apellidos</label>
        <input id = "Apelidos" type=" " name="Apellidos"> <br>
        <label for="Nombres">Nombres:</label>
        <input id = "Nombres" type=""  name="Nombres"> <br>
        <label for="GeneroF"> Género f: </label>
        <input id = "Genero" type="radio" name="genero f"><br>
        <label for="GeneroM"> Género m: </label>
        <input id = "Genero" type="radio" name="genero m" checked><br>
        <label for="Estado Civil"> Estado civil: </label>
        <input id = "Estado civil"><br>
        <label for="Numero telefonico de contacto"> Número telefonico de contacto:</label>
        <input id = "Numero telefonico de contacto"><br>
        <label for="Direccion"> Direccion: </label>
        <input id = "Direccion" type="" name="Direccion"><br>
        <label for="Correo Eletronico"> Correo Eletronico: </label>
        <input id = "Correo Eletronico"><br>
        <label for="Contraseña"> Contraseña: </label>
        <input id = "Contraseña" type="password" name="contraseña"><br>

    </form>
    <!-- Captar información -->
</body>
</html>