<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="Karen Rivera" content="Intro HTML"> 
<title>Mi Horario</title>
<style> 
body { 
    background-image: url(https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZGFyayUyMGJsdWUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&w=1000&q=80);}</style>
    

<body>
    <table border="5">
            <caption style="color: white;">MI HORARIO </caption>
              <tr> 
                <td><p style="color: white;"><em>HORA</em></p></td>
                <td><p style="color: white;"><em>LUNES</em></p></td>
                <td><p style="color:white;"><em>MARTES</EM></p></td>
                <td><p style="color:white;"><em>MIÉRCOLES</em></p></td>
                <td><p style="color:white;"><em>JUEVES</EM></p></td>
                <td><p style="color: whitesmoke;"><em>VIERNES</em></p></td>
                
              </tr>
              <tr> 
                <tr>
                    <td><p style="color:white;"><em>7:00 - 8:30</em></p></td>
                <td><p style="color:white;"><em>Circuitos</em></p></td>
                <td><p style="color:white;"> <em>Álgebra</em></p></td>
                <td><p style="color:white;"><em>Circuitos</em></p></td>
                <td><p style="color:white;"> <em>Álgebra</em></p></td>
                <td><p style="color:white;"> <em>Circuitos</em></p></td>
            </tr>
            <tr>
                    <td><p style="color:white;"><em>9:00 - 10:30</em></p></td>
                <td><p style="color:white;"><em>Estudio Personal</em></p></td>
                <td><p style="color:white;"> <em>Cálculo 2</em></p></td>
                <td><p style="color:white;"><em>Estudio Personal</em></p></td>
                <td><p style="color:white;"> <em>Cálculo 2</em></p></td>
                <td><p style="color:white;"><em>Estudio Personal</em></p></td>
            </tr>
            <tr>
                <td><p style="color:white;"><em>11:00 - 13:00</em></p></td>
                <td><p style="color:white;"><em>Almuerzo</em></p></td>
                <td><p style="color:white;"> <em>Respirando</em></p></td>
                <td><p style="color:white;"><em>Desarrollo web</em></p></td>
                <td><p style="color:white;"> <em>Irme a mí casa</em></p></td>
                <td><p style="color:white;"> <em>Desarrollo web</em></p></td>
              
            </tr>
            <tr>
                <td><p style="color:white;"><em>13:00 - 15:00</em></p></td>
                <td><p style="color:white;"><em>Cátedra Financiera</em></p></td>
                <td><p style="color:white;"> <em>Monitoria Álgebra</em></p></td>
                <td><p style="color:white;"><em>Almuerzo</em></p></td>
                <td><p style="color:white;"> <em>Hacer trabajos</em></p></td>
                <td><p style="color:white;"> <em>Almuerzo</em></p></td>
            </tr>
            <tr>
                <td><p style="color:white;"><em>15:00 - 16:30</em></p></td>
                <td><p style="color:white;"><em>Monitoria probabilidad</em></p></td>
                <td><p style="color:white;"> <em>Irme a mi casa</em></p></td>
                <td><p style="color:white;"><em>Probabilidad</em></p></td>
                <td><p style="color:white;"> <em>Ocio</em></p></td>
                <td><p style="color:white;"> <em>Almuerzo</em></p></td>
            </tr>
 
            <tr>
                <td><p style="color:white;"><em>17:00 - 20:00</em></p></td>
                <td><p style="color:white;"><em>Aseo</em></p></td>
                <td><p style="color:white;"> <em>Aseo</em></p></td>
                <td><p style="color:white;"><em>Aseo</em></p></td>
                <td><p style="color:white;"> <em>Aseo</em></p></td>
                <td><p style="color:white;"> <em>Aseo</em></p></td>

            </tr>
            
                
          </table>
          <li style = "color:white"><a href = "./helice.html"  target="_blank">Hélice</a>Página dos</li>
          <li style = "color:white"><a href = "./Pac-man.html"  target="_blank">Pac-Man</a>The New Adventures, Pac-Man World</li>
</body>
</html>